* {
    font-family: 'Montserrat', sans-serif;
}

.skip{
    position: absolute;
    top: -24px;
    left: 4px;
    border: solid black 2px;

}
.header {
    background-color: #00274c;
    height: 7vh;
    text-align: center; /* Add this line to center-align the text within the header */
    display: flex;
}

.header h1 {
    margin: auto;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

nav {
    display: block;
    height: 40px;
    width: 100%;
    margin: auto;
    border-bottom: #00274c solid 3px;
}

nav div {
    display: inline-block;
    height: inherit;
    width: 104px;
    margin: 10px;
    text-decoration: underline;
    text-align: center;

}

.message {
    margin: 10px;
    text-align: center;
}

.content-container {

}

.content-container h2 {
    width: 100%;
    text-align: center;
    border-bottom: #00274c solid 2px;
    font-size: 20px;
    font-weight: bold;
}


.intro-images {
    display: grid;
    grid-template-columns: 50% 50%;
}

.intro-images img {
    display: inline;
    width: 100%;
    height: 200px;
}

.intro-paras {

}

.gallery-image-box img {
    width: 100%;
}

.gallery-image-box p {
    display: block;
    width: 90%;
    margin: 20px 10px 20px 10px;
}

.intro-images-pets {
    display: flex;
    width: 100%;
    justify-content: center;
}

.intro-images-pets .intro-images-core {
    margin: auto;
}
.intro-images-core img{
    width: auto;
}

.intro-paras-pets p {
    margin: 10px;
}
.pets-gallery {
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 5%;
    grid-gap: 5%;
}

.pets-gallery .gallery-image-box {
    height: 300px;
}

.pets-gallery .gallery-image-box p, img {
    margin: auto 0 0 0;
    max-height: 250px;

}

h3 {
    width: 100%;
    text-align: center;
    border-bottom: #00274c solid 2px;
    font-size: 20px;
    font-weight: bold;
}

.pets-likes {
    display: block;
    width: 100%;
}
.pet-likes p {
    display: inline-block;
    width: 120px;
    margin: auto;
    text-align: center;
}

.creator {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 150px;
}