* {
    font-family: 'Montserrat', sans-serif;
}

.skip {
    position: absolute;
    top: -24px;
    left: 4px;
    border: solid #ffffff 2px;
    color: #ffffff;
}

.skip:focus {
    top: 16px;
    border: solid #ffffff 2px;
    color: #ffffff;
    padding: 6px;
}

.header {
    background-color: #00274c;
    height: 7vh;
    text-align: center;
    display: flex;
}

.header h1 {
    margin: auto;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

nav {
    height: 40px;
    width: 100%;
    margin: auto;
    border-bottom: #00274c solid 3px;

    display: flex;
    align-content: center;
}

nav div {
    display: inline;
    height: inherit;
    width: auto;
    margin: auto;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

}

nav a:focus, nav a:hover {
    text-decoration: underline;
}

.message {
    margin: 10px;
    text-align: center;
}

.content-container {

}

.content-container h2 {
    width: 100%;
    text-align: center;
    border-bottom: #00274c solid 2px;
    font-size: 20px;
    font-weight: bold;
}


.intro-images {
    display: grid;
    grid-template-columns: 50% 50%;
}

.intro-images img {
    display: inline;
    width: 100%;
    height: 200px;
}

.intro-paras p {
    margin: 10px;
}

.gallery-image-box img {
    width: 100%;
}

.gallery-image-box p {
    display: block;
    width: 90%;
    margin: 20px 10px 20px 10px;
}

.intro-images-pets {
    display: flex;
    width: 100%;
    justify-content: center;
}

.intro-images-pets .intro-images-core {
    margin: auto;
    padding: 4px;
    /*border: #000 solid 3px*/
}

.intro-images-core img {
    width: auto;
}

.intro-paras-pets p {
    margin: 10px;
}

.pets-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 5%;
    grid-gap: 5%;
    justify-content: center;
}

.pets-gallery .gallery-image-box {
    margin: auto;
    width: 300px;
}


.pets-gallery .gallery-image-box p, img {
    margin: auto 0 0 0;
    max-height: 250px;
}
.pets-gallery .gallery-image-caption {
    width: 100%;
    text-align: center;
}
.slideshow-caption {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slideshow-caption p {
    margin: auto;
    width: auto;
    text-align: center;
}
h3 {
    width: 100%;
    text-align: center;
    border-bottom: #00274c solid 2px;
    font-size: 20px;
    font-weight: bold;
}

.pets-likes {
    display: block;
    width: 100%;
}

.pet-likes p {
    display: inline-block;
    width: 120px;
    margin: auto;
    text-align: center;
}

.creator {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 150px;
}

.ingredients-list {
    width: 100%;
}

.ingredients-list li {
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0;
}

.recipe-steps {
    width: 100%;
    margin: 40px;
}

.recipe-steps li {
    width: 80%;
    margin: 20px 0 20px 0;
    list-style-type: decimal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
img:hover {
    padding: 5%;
    border: black solid 2px;
}



.fade-in-element {
    animation: fadeIn 1s; /* 1s is the animation duration */
}

@media (prefers-reduced-motion: reduce) {
    .fade-in-element {
        animation: none;
    }
}



@media screen and (min-width: 767px) {
    .content-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .content-container h2 {
        grid-column: 1 / span 4;
        margin-bottom: 50px;
    }

    .intro-images-pets {
        grid-column: 1 / span 2;

    }

    .intro-paras-pets {
        grid-column: 3 / span 2;
        border-left: #000 solid 4px;
        display: flex;
        flex-direction: column;
    }

    .intro-paras-pets p {
        margin: auto;
        width: 80%;
    }

    .gallery-divider {
        margin: 50px 0 50px 0;
        font-size: 20px;
        font-weight: bold;
        grid-column: 2 /span 2;
        text-align: center;
        border-bottom: #000 solid 2px;
    }


    .pets-gallery {
        grid-column: 1 / span 4;
        margin-bottom: 50px;
        justify-content: center;
        align-self: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 5% 5%;
    }

    .pets-gallery .gallery-image-box {
        margin: auto;
        width: 300px;
    }

    .pets-gallery .gallery-image-caption {
        width: 100%;
        text-align: center;
    }




    .content-container h3 {
        grid-column: 2 / span 2;
    }

    .pet-likes {
        grid-column: 2 / span 2;
        justify-content: center;
    }

    .pet-likes {
        margin: auto;
    }

    .creator {
        margin-top: 50px;
        grid-column: 2 / span 2;
    }

    .ingredients-box {
        margin-top: 50px;
        grid-column: 1 /span 2;

    }

    .steps-box {
        margin-top: 50px;
        grid-column: 3 /span 2;
    }


    .intro-images-travel {
        grid-column: 1/span 2;
        justify-content: center;
        width: 50%;
        margin: auto;
    }

    .intro-paras-travel {
        grid-column: 3 /span 2;
        margin: 40px;
        border-left: #000 solid 4px;
        text-align: center;

    }

    .intro-paras-travel p {
        margin-top: 10px;
        padding: 5%;
    }

    .travel-gallery {
        grid-column: 2 /span 2;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 5% 10%;
    }
}


@media screen and (min-width: 1025px) {
    .content-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }


    .travel-gallery {
        grid-column: 1 /span 4;
        display: grid;
        justify-content: center;
        grid-template-columns: 35% 35%;
        grid-gap: 5% 10%;
    }

    .intro-paras-travel p {
        margin-top: 10px;
        padding: 2%;
        font-size: 20px;
    }
    .pets-gallery {
        grid-column: 1 / span 4;
        display: grid;
        justify-content: center;
        grid-template-columns: 45% 45%;
        grid-gap: 5% 10%;
        margin: 0 0 50px;
    }


    .pets-gallery .gallery-image-box p, img {
        margin: 0 0 0 0;
        max-height: 250px;
    }



    .intro-paras-pets {
        grid-column: 3 / span 2;
        border-left: #000 solid 4px;
        display: flex;
        flex-direction: column;
    }

    .intro-paras-pets p {
        margin: 10px auto auto;
        width: 80%;
        font-size: 20px;
    }

}